.container {
    width: 1000px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-default{
    background: #fff;
    border: none;
    margin: 0!important;
}

.navbar-sticky {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.navbar-brand{
    color: #163e96;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

#collapsibleNavbar > ul > li.nav-link > a{
    color: gray;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#collapsibleNavbar > ul > li.nav-link > a:hover {
    color: #163e96;
}

#collapsibleNavbar > ul > li > a.active{
    color: #163e96;
}

#about-me{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
}

#profile_pic{
    max-width: 50%; 
    max-width: 20vh; /*50% of user's viewport height */
}

#fa-linkedin, #fa-github{
    border: 1px solid black;
    color: black ;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
}

#fa-linkedin:hover, #fa-github:hover{
    
    border: 1px solid black;
    color:  white ;
    background-color: black;
}


/* body title and descriptions */
#item-title{
    font-weight: bold;
}
#item-description{
    font-style: italic;
}

/* Sections */
#HOME{
    background-image: url('./images/gradienta-unsplash.jpg');
    background-size: cover;
    background-position: 50% 45%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 20px;
}
/* .bg-image{
    padding-top: 80px;
    padding-bottom: 20px;
} */
#EDUCATION {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
    
}
#EXPERIENCES {
    background-color: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}
#PROJECTS {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
#SKILLS {
    background-color: #f8f8f8;
    padding-top: 60px;
    padding-bottom: 60px;
}
#RESUME {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
#CONTACT{
    background: url('../landingPage/images/gradienta2-unsplash.jpg') no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50% 45%;
    padding-top: 40px;
    padding-bottom: 40px;    
}
#contact-section{
    color: white;
}

#contact-details{
    background: #163e96;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px;
}

#contact-section > p > a{
    color: white;
    text-decoration: none;
}

#contact-section > p > a:hover{
    font-size: 105%;
    color: white;
    text-decoration: none;
    
}

#FOOTER{
    padding-top: 10px;
}


/* Logos */
#nus_logo {
    width: auto;
    height: 110px;
}
#idp_logo {
    width: auto;
    height: 180px;
}

#astar_logo {
    width: auto;
    height: 130px;
}

#dso_logo {
    width: auto;
    height: 290px;
}

#arc-logo {
    width: auto;
    height: 110px;
}

#rdr-logo {
    width: auto;
    height: 245px;
}

#zilingo-logo{
    width: auto;
    height: 170px;
}


/* Project images */
#fyp {
    width: 310px;
    object-fit: cover; 
    object-position: 20% 0%;
}
#darpa {
    /* width: auto;
    height: 180px; */
    height: 200px;
    width: 310px;
    object-fit: cover; 
    object-position: 20% 0%;
}

#drone-image{
    /* width: auto;
    height: 220px; */
    height: 200px;
    width: 400px;
    object-fit: cover; 
    object-position: 100% 0%;
}
#waterbloc {
    /* width: auto;
    height: 280px; */
    width: 500px;
    object-fit: cover; 
    object-position: 100% 0;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Animations */
/* .inFocus{
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  } */